html,
body {
  margin: 0;
  background: #72ba88;
  color: white;
  height: 100%;
}

.wrapper {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contents {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer a {
  margin: 0 30px;
  padding: 5px;
  cursor: pointer;
}

.header {
  text-transform: uppercase;
  position: sticky;
  top: 0;
  display: flex;
  padding: 20px;
  font-size: 16px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
  z-index: 10;
}

.header .logo {
  font-size: 18px;
  cursor: pointer;
  width: 380px;
  display: flex;
  align-items: center;
}

.header .logo svg {
  fill: currentColor;
}

.header .logo span {
  display: inline-block;
  margin-left: 10px;
}

.header .menu-bar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.header .menu-bar .menu-item {
  margin: 0 10px;
  cursor: pointer;
}

.header .menu-bar .menu-item:hover {
  color: #3378bb
}

.search-container {
  padding: 20px;
  color: #4a4a4d;
  background: #ffffff;
  position: relative;
}

.search-container .search-title {
  margin-bottom: 20px;
}

.search-container .search-title span {
  font-size: 28px;
  font-weight: bold;
}

.search-container .search-title .show-message {
  position: absolute;
  right: 20px;
  border: none;
  height: 32px;
  min-width: 24px;
  border-radius: 3px;
  text-shadow: none;
  line-height: 32px;
  padding: 0 10px;
  color: #fff;
  background: #3378bb;
  cursor: pointer;
  outline: 0;
  display: none;
}

.search-container .search-title .show-message:hover {
  background-color: #4293e2;
}

.search-container .search-embed {
  width: 100%;
  height: 500px;
  position: relative;
}

.search-container .search-embed #embed,
.search-container .search-embed iframe {
  width: 100%;
  height: 100%;
}

.search-container .search-embed .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-container .data-source-selector {
    position: absolute;
    right: 20px;
    top: 25px;
}

.search-container .data-source-selector select {
    margin-left: 5px;
}
.content-block {
  padding: 20px;
  color: #4a4a4d;
}

.content-block:nth-of-type(even) {
  background: #f1f3f3;
}

.content-block h2 {
  font-size: 28px;
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader {
  color: #2980b9;
  font-size: 11px;
  text-indent: -99999em;
  margin: auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  transform-origin: center;
}

.loader:before,
.loader:after {
  position: absolute;
  content: "";
}

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
